@charset "utf-8";
/* CSS Document */

/** Font Face **/
@font-face {
    font-family: 'TektonProCondBold';
    src: url('fonts/tektonpro-boldcond.eot');
    src: url('fonts/tektonpro-boldcond.eot?#iefix') format('embedded-opentype'),
         url('fonts/tektonpro-boldcond.woff') format('woff'),
         url('fonts/tektonpro-boldcond.ttf') format('truetype'),
         url('fonts/tektonpro-boldcond.svg#TektonProCondBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

* { margin:0; padding:0; }

body            { 
    background: #6495ED;
    background-image: url(images/bkg.jpg);
    font:12px/1.55 Arial, Helvetica, sans-serif; 
    color:#000; 
    text-align:center; 
    min-width:1200px; 
}

img             { border:0; vertical-align:top; }

a               { color:#19c56e; text-decoration:none; }
a:hover         { text-decoration:none; }
:focus          { outline:0; }

/* Headings */
h1,h2,h3,
h4,h5,h6        { margin:0 0 5px; line-height:1.35; color:#6C6C6C; font-weight:normal; }
h1              { font-size:24px; color:#6C6C6C; }
h2              { font-size:18px; }
h3              { font-size:16px; }
h4              { font-size:14px; }
h5              { font-size:12px; }
h6              { font-size:11px; }

/* Lists */
ul,ol           { list-style:none; }

/* Content */
p               { margin:0 0 10px; }

/* Layout ================================================================================ */
.page           { text-align:left; min-width:1200px; }

/* Header ================================================================================ */
.header         { margin:0 auto; width:960px; height:100px; padding:10px 0 10px 0;}
.header-title   { 
    margin-left:50px; 
    font-family:'TektonProCondBold', Arial, Helvetica, sans-serif;
    font-size:48px;
    color:#ffffff;
}

/* Main ================================================================================ */
.main           { margin:0 auto; width:100%; height:700px;}
.side-container { width:25%; height:700px; float:left;}
.map-container  { width:75%; height:700px; float:left;}


